body {
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
}

div.lhs, div.rhs {
	width: 100%;
	float: none;
	display: block;
	padding-left: 0;
}

div.lhs h1, div.rhs h1 {
	border-top: 0.5em solid #b1dc00;
	font-size: 34pt;
}

div.main img.logo {
	width: 200px;
	float: left;
}
